body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #1e2024;
}

body::-webkit-scrollbar-thumb {
  background-color: #5c6066;
  border-radius: 20px;
  border: 3px solid #1e2024;
}
